<ion-view view-title="Restaurants">
    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="venue in venues" type="item-text-wrap" href="#/tab/venue/{{venue.$id}}">
                <img ng-src="/img/default_logo.png">
                <h2>{{venue.name}}</h2>
                <p>{{venue.street}}<br>{{venue.zip}}<br>{{venue.city}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
