<ion-view view-title="Favorites">
    <ion-content>
        <img src="img/about.jpg" class="full-image">
        <div class="content padding">
            <h3>About Lunchify</h3>
            <p>Lunchify is the result of First Kiosked Hackaton. We made this simple app for our colleagues at
            Kiosked to make their (and our) life easier.</p><br>

            <h4>The Team</h4>
            <p>Lunchify is created by:<br>Sallar, Nadia, JP, Timo & Saber</p>
            <p>Graphics are designed by James.</p>
        </div>
    </ion-content>
</ion-view>
