<ion-view view-title="Restaurants">
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar item-avatar-not-round item-icon-right" ng-repeat="venue in venues" type="item-text-wrap" href="#/tab/venue/{{venue.id}}">
                <img ng-src="/img/default_logo.png">
                <h2 ng-bind="venue.name"></h2>
                <p ng-bind="venue.address"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <span class="badge badge-stable badge-distance" ng-bind="venue.distance | distance"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
