<ion-tabs class="tabs-icon-top tabs-lunchify">


    <!-- Nearest Tab -->
    <ion-tab title="Nearest" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/restaurants">
        <ion-nav-view name="tab-restaurants"></ion-nav-view>
    </ion-tab>


    <!-- Today Tab -->
    <ion-tab title="Today" icon-off="ion-pizza" icon-on="ion-pizza" href="#/tab/today">
        <ion-nav-view name="tab-today"></ion-nav-view>
    </ion-tab>

    <!-- Favorites Tab -->
    <ion-tab title="Favorites" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
