<ion-view view-title="{{venue.name}}">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-map" href="#/tab/map/{{venue.id}}"></a>
    </ion-nav-buttons>
    <ion-content>
        <img class="full-image" ng-src="img/keilaranta/covers/{{venue.simple_name}}.jpg">
        <ion-list>
            <ion-item ng-repeat="meal in info" class="format-meal-info">
                <h2 ng-bind-html="meal.name | removeHref"></h2>
                <p ng-bind-html="meal.name_fi | removeHref"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
